<div *ngIf="menuVisibility" class="fixed flex flex-col items-center bottom-48 lg:ml-24 md:ml-20 xl:ml-32">
    <a href="https://www.linkedin.com/in/bruel-razafimbelo-ratompoarisoa-48979026a/" target="_blank"><img src="../../bruel-portfolio/assets/images/linkedin.png" class="w-6 h-6 duration-500 hover:scale-150" title="Linkedin"></a>&nbsp;
    <a href="https://github.com/ZakkWylde008" target="_blank"><img src="../../bruel-portfolio/assets/images/github.png" class="w-6 h-6 duration-500 hover:scale-150" title="Github"></a>&nbsp;
    <a href="https://gitlab.com/ZakkWylde008" target="_blank"><img src="../../bruel-portfolio/assets/images/gitlab.png" class="w-6 h-6 duration-500 hover:scale-150" title="Gitlab"></a>&nbsp;
    <a href="https://www.codewars.com/users/ZakkWylde008" target="_blank"><img src="../../bruel-portfolio/assets/images/codewars.png" class="w-6 h-6 duration-500 hover:scale-150" title="Codewars"></a>&nbsp;
    <div class="absolute h-44 border-black border-2 rounded-lg mt-48"></div>
</div>

<div *ngIf="menuVisibility" class="fixed flex flex-col items-center right-0 bottom-80">
    <span class="rotate-90 italic mt-10 duration-500 hover:scale-110">razafimbelobruel@gmail.com</span>
    <div class="absolute h-44 mt-48 border-black border-2 rounded-lg"></div>
</div>
