<h1 class="text-center w-auto m-4 p-2 font-extrabold">Création projet</h1>
<a href="https://zakkwylde008.github.io/bruel-portfolio/#/backend008/projet"><button class="text-center w-20 m-4 p-2 font-bold bg-black drop-shadow rounded-lg text-white hover:bg-white hover:text-black">Retour</button></a>
<div class="w-full mt-4">
    <div class="bg-white shadow-md rounded px-8 pt-6 pb-8 m-4">
      <div class="m-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="video">
          Video:
        </label>
        <input (change)="chooseVideo($event)" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="video" type="file" required>
      </div>
      <!-- <div class="m-4">
        <label class="block text-gray-700 text-sm font-bold mb-2" for="description">
          Description:
        </label>
        <input [(ngModel)]="videoDescription" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="description" type="text" placeholder="Description" required>
      </div> -->
      <div class="flex items-center justify-between m-4">
        <button (click)="onSubmit()" class="bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Ajouter
        </button>
      </div>
    </div>
</div>
