.blur-background {
    filter: blur(5px);
}

.bg-image {
    width: 100%;
    height: 100%;
    background-image: url("../../assets/images/sea_background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}