<div *ngIf="isLoad" class="grid h-screen place-items-center">
    <div
        class="h-14 w-14 border-sky-600 animate-spin rounded-full border-8 border-solid border-r-transparent"
        role="status">

    </div>
</div>

<div *ngIf="!isLoad">
    <app-header></app-header>

    <!-- Accueil -->
    <div class="absolute z-0 w-full h-full mt-9 sm:mt-10 md:mt-20 lg:mt-20 xl:mt-20 2xl:mt-20 bg-gradient-to-r from-white to-sky-200">
        <div *ngIf="accueil" [@fadeInAnimation]="accueil ? 'visible' : 'hidden'" [ngClass]="{'blur-background' : isMenuOpen}">
            <div class="item-center pt-14 ml-8 mr-8 sm:pt-16 sm:ml-28 sm:mr-28 md:pt-16 md:ml-24 md:mr-24 lg:pt-20 lg:ml-52 lg:mr-52 xl:pt-20 xl:ml-64 xl:mr-64 2xl:pt-20 2xl:ml-64 2xl:mr-64">
                <h3 class="text-sm sm:text-sm md:text-sm lg:text-xl xl:text-xl 2xl:text-xl font-sans">Bonjour, je m'appelle</h3>
                <h1 class=" mt-4 text-sm sm:mt-4 sm:text-sm md:mt-4 md:text-2xl lg:mt-4 lg:text-3xl xl:mt-4 xl:text-5xl 2xl:mt-4 2xl:text-5xl font-sans font-extrabold">Bruel Razafimbelo RATOMPOARISOA.</h1>
                <p class="text-sm sm:text-sm md:text-2xl lg:text-3xl xl:text-5xl 2xl:text-5xl text-slate-400 font-sans font-bold drop-shadow">Je suis un développeur web et mobile junior.</p>
            </div>
            
            <div class="pr-8 ml-8 mr-8 mt-4 sm:w-80 sm:ml-28 sm:mr-28 sm:mt-4 md:w-96 md:ml-24 md:mr-24 md:mt-6 lg:w-1/3 lg:ml-52 lg:mr-52 lg:mt-6 xl:w-1/3 xl:ml-64 xl:mr-64 xl:mt-6 2xl:w-1/3 2xl:ml-64 2xl:mr-64 2xl:mt-6">
                <p class="text-sm sm:text-sm lg:text-lg xl:text-lg 2xl:text-lg font-sans drop-shadow">
                    Je peut m'adapter à plusieurs types de technologies utilisant des langages de programmation comme <b>Javascript</b>, <b>Typescript</b> ou encore <b>PHP</b>.
                </p>
            </div>

            <button class="w-36 h-10 ml-8 mr-8 mt-4 sm:w-36 sm:h-10 sm:ml-28 sm:mr-28 sm:mt-6 md:w-40 md:h-10 md:ml-24 md:mr-24 md:mt-10 lg:w-52 lg:h-16 lg:ml-52 lg:mr-52 lg:mt-8 xl:w-52 xl:h-16 xl:ml-64 xl:mr-64 xl:mt-8 2xl:w-52 2xl:h-16 2xl:ml-64 2xl:mr-64 2xl:mt-8 font-bold bg-sky-200 drop-shadow rounded-lg hover:bg-sky-300" (click)="openCV()">
                Curriculum vitae
            </button>
        </div>
    </div>

    <!-- A propos -->
    <div *ngIf="apropos" [@fadeInAnimation]="apropos ? 'visible' : 'hidden'" [ngClass]="{'blur-background' : isMenuOpen}" class="absolute z-0 w-full h-full 2xl:mt-20 xl:mt-20 lg:mt-20 md:mt-20 sm:mt-9 mt-9 bg-gradient-to-r from-white to-sky-200">
        <div class="flex items-center space-x-2 pt-20 2xl:ml-64 2xl:mr-64 xl:ml-64 xl:mr-64 lg:ml-52 lg:mr-52 md:pt-10 md:ml-40 md:mr-40 sm:pt-8 sm:ml-20 sm:mr-20 pt-8 ml-8 mr-8">
            <h1 class="2xl:text-3xl xl:text-3xl lg:text-2xl md:text-xl sm:text-lg text-base font-sans font-extrabold">1. À PROPOS DE MOI</h1>
            <hr class="w-1/2 border-black border-2">
        </div>
        <div class="flex flex-col space-y-2 pt-8 ml-8 mr-8 2xl:flex-row 2xl:space-x-6 2xl:ml-64 2xl:mr-64 xl:flex-row xl:space-x-6 xl:ml-64 xl:mr-64 lg:flex-row lg:pt-14 lg:space-x-2 lg:ml-52 lg:mr-52 md:flex-col md:pt-8 md:space-y-2 md:ml-40 md:mr-40 sm:flex-col sm:pt-6 sm:space-y-2 sm:ml-20 sm:mr-20">
            <p class="border-l-[3px] border-b-[3px] border-cyan-600 rounded p-2 2xl:w-1/2 2xl:text-lg xl:text-lg lg:text-base md:w-full md:text-sm sm:w-full sm:text-sm text-sm font-sans drop-shadow">
                Bonjour! Je m'appele Bruel et je suis un ingénieur en Genie Logiciel et Base de Données fraichement diplômé de l'Ecole Nationale d'Informatique de Fianarantsoa.
                Depuis tout petit, je suis fasciné par les jeux vidéos et ça m'a emmené dans le monde du digital quand je suis arrivé au lycée vers 2013.
                Faire un parcour en Informatique est devenu une évidence pour moi et j'ai décidé d'intégrer l'ENI.
                <br>
                <br>
                J'ai commencé par les bases du développement web avec HTML, CSS et Javascript puis s'en est suivi les langages comme PHP, JAVA ou encore Python.
                Je suis maintenant un développeur fullstack junior et après avoir presque touché à tout, j'ai un faible pour les technologies <b class="hover:underline">Symfony</b>, <b class="hover:underline">Angular</b> et récemment <b class="hover:underline">Flutter</b> que j'ai envie d'approfondir.
            </p>
            <img src="../../assets/images/pdp.jpg" class="2xl:w-80 2xl:h-80 xl:w-80 xl:h-80 lg:w-72 lg:h-80 md:w-full md:h-80 sm:w-full sm:h-72 w-full h-64 rounded" alt="Photo">
        </div>
    </div>

    <!-- Expériences -->
    <div *ngIf="experiences" [@fadeInAnimation]="experiences ? 'visible' : 'hidden'" [ngClass]="{'blur-background' : isMenuOpen}" class="absolute z-0 w-full h-full 2xl:mt-20 xl:mt-20 lg:mt-20 md:mt-20 sm:mt-9 mt-9 bg-gradient-to-r from-white to-sky-200">
        <div class="flex items-center space-x-2 pt-20 2xl:ml-64 2xl:mr-64 xl:ml-64 xl:mr-64 lg:ml-52 lg:mr-52 md:pt-10 md:ml-40 md:mr-40 sm:pt-8 sm:ml-20 sm:mr-20 pt-8 ml-8 mr-8">
            <h1 class="2xl:text-3xl xl:text-3xl lg:text-2xl md:text-xl sm:text-lg text-base font-sans font-extrabold">2. EXPÉRIENCES</h1>
            <hr class="w-1/2 border-black border-2">
        </div>
        <div class="flex flex-row 2xl:space-x-14 2xl:ml-64 2xl:mr-64 2xl:mt-6 xl:space-x-12 xl:ml-64 xl:mr-64 xl:mt-6 lg:space-x-10 lg:ml-52 lg:mr-52 lg:mt-6 md:space-x-8 md:ml-40 md:mr-40 md:mt-4 sm:space-x-4 sm:ml-20 sm:mr-20 sm:mt-4 space-x-4 ml-8 mr-8 mt-2">
            <div class="flex flex-col space-y-0">
                <button *ngFor="let exp of experience" [ngClass]="{'border-sky-400': exp.isShow}" class="bg-sky-200 font-sans font-bold p-1 border-l-[4px] hover:bg-sky-300" (click)="changeDescription(exp)">{{ exp.nom }}</button>
            </div>
            <div class="border-l-[3px] border-r-[3px] border-sky-400 rounded w-3/5">
                <div *ngFor="let exp of experience">
                    <div *ngIf="exp.isShow" class="p-2">
                        {{ exp.type }} <br>
                        {{ exp.dateDebut | date: 'dd/MM/yyyy' }} - {{ exp.dateFin | date: 'dd/MM/yyyy' }} <br>
                        {{ exp.description }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Projets -->
    <div *ngIf="projets" [@fadeInAnimation]="projets ? 'visible' : 'hidden'" [ngClass]="{'blur-background' : isMenuOpen}" class="absolute z-0 w-full h-full 2xl:mt-20 xl:mt-20 lg:mt-20 md:mt-20 sm:mt-9 mt-9 bg-gradient-to-r from-white to-sky-200">
        <div class="flex items-center space-x-2 pt-20 2xl:ml-64 2xl:mr-64 xl:ml-64 xl:mr-64 lg:ml-52 lg:mr-52 md:pt-10 md:ml-40 md:mr-40 sm:pt-8 sm:ml-20 sm:mr-20 pt-8 ml-8 mr-8">
            <h1 class="2xl:text-3xl xl:text-3xl lg:text-2xl md:text-xl sm:text-lg text-base font-sans font-extrabold">3. PROJETS</h1>
            <hr class="w-1/2 border-black border-2">
        </div>
        <div class="2xl:ml-64 2xl:mr-64 2xl:mt-6 xl:ml-64 xl:mr-64 xl:mt-6 lg:ml-52 lg:mr-52 lg:mt-6 md:ml-40 md:mr-40 md:mt-4 sm:ml-20 sm:mr-20 sm:mt-4 ml-8 mr-8 mt-2">
            <div class="grid 2xl:grid-cols-5 xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 grid-cols-1 gap-2">
                <!-- card -->
                <div *ngFor="let proj of projet" class="max-w-sm rounded-lg overflow-hidden border-[2px] border-sky-300 shadow-xl">
                    <img class="w-10 h-10" src="../../assets/images/folder.png" alt="Folder">
                    <div class="px-6 py-4">
                      <div class="font-bold text-lg mb-2">{{ proj.nom }}</div>
                      <!-- <p class="text-gray-700 text-base">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, Nonea! Maiores et perferendis eaque, exercitationem praesentium nihil.
                      </p> -->
                    </div>
                    <div class="px-6 pb-2">
                      <!-- <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span> -->
                      <button class="rounded-md font-bold bg-sky-300 p-1 hover:bg-sky-400">Démonstration</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- contacts -->
    <div *ngIf="contacts" [@fadeInAnimation]="contacts ? 'visible' : 'hidden'" [ngClass]="{'blur-background' : isMenuOpen}" class="absolute z-0 w-full h-full 2xl:mt-20 xl:mt-20 lg:mt-20 md:mt-20 sm:mt-9 mt-9 bg-gradient-to-r from-white to-sky-200">
        <div class="flex items-center space-x-2 pt-20 2xl:ml-64 2xl:mr-64 xl:ml-64 xl:mr-64 lg:ml-52 lg:mr-52 md:pt-10 md:ml-40 md:mr-40 sm:pt-8 sm:ml-20 sm:mr-20 pt-8 ml-8 mr-8">
            <h1 class="2xl:text-3xl xl:text-3xl lg:text-2xl md:text-xl sm:text-lg text-base font-sans font-extrabold">4. CONTACTS</h1>
            <hr class="w-1/2 border-black border-2">
        </div>
    </div>
</div>
